@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Prata&display=swap');

$bg: #FFFEFB;
$prata: 'Prata', serif;
$lato: 'Lato', sans-serif;
$grey: #C4C4C4;
$main: #f5f4f2;
$black: #000;
$white: #ffffff;
$dark: #736D6D;

body {
  overflow-x: hidden;
}

#shop-section-1 {
	width: 100%;
	height: 83vh;
	max-height: 83vh;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	 h1 {
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 500;
		text-shadow: 0px 3.88158px 3.88158px rgba(0, 0, 0, 0.25), 0px 3.88158px 3.88158px rgba(0, 0, 0, 0.25);
		font-family: $prata;
		position: absolute;
		left: 50%;
		top: 80%;
		transform: translate(-50%, -50%);
	}
}

#addtocart {
	h6, p {
		font-family: $lato;
		color: $black;
		font-size: 12px;
	}

	h6 {
        font-weight: 600;
    }

	button {
        font-family: "Lato", sans-serif;
        font-size: 12px;
    }
}

.alert {
	font-family: $lato;
	color: $black;
	position: fixed !important;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: +1000;
}

.shop-section-cat {
	.shop {
		background-color: $bg !important;
		a {
			color: $black;
			text-decoration: none;
			font-family: $prata;
			font-size: 14px;
			cursor: pointer;
		}
		a:hover {
			color: $black;
			text-decoration: none;
		}
	}
	#category {
		z-index: 10;
		background-color: $white;
		.cat-list {
			height: 7vh;
			button {
				font-size: 12px;
				font-family: $prata;
				text-decoration: none;
				color: $black;
				background-color: transparent;
			}
		}
	}
}

#details {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1100;
	.details {
		#close-details {
			top: 0%;
			right: 5%;
			font-size: 20px;
			color: $bg;
			font-family: $lato;
			cursor: pointer;
			z-index: 10;
		}
		.detail-img {
			img {
				object-fit: cover;
				object-position: center;
				border: 1px solid $bg;
				z-index: 10;
                max-height: 70vh;
			}
		}
		.detail-main {
			.main-colors {
				label {
					font-size: 15px;
					font-family: $lato;
					color: $bg !important;
					font-weight: 300;
					z-index: 10;
				}
				.colors {
					* {
						border-radius: 50%;
						z-index: 10;
					}
					.color-red {
						background-color: #ff0f1f;
					}
					.color-blue {
						background-color: #180cf7;
					}
					.color-white {
						background-color: $white;
					}
					.color-grey {
						background-color: darkgrey;
					}
					.color-black {
						background-color: $black;
					}
				}
			}
			.description {
				div, label	{
					color: $bg;
					font-size: 16px;
					font-family: $lato;
					z-index: 10;
				}
				p {
					color: $bg;
					font-size: 18px;
					font-family: $lato;
					font-weight: 300;
					z-index: 10;
				}
			}
		}

	}
}

.item {
  width: 320px;
  max-height: 400px;
  height: 400px;
  img {
      max-height: 150px;
      height: 150px;
    }
}

@media (max-width: 768px) {
	#shop-section-1 {
		width: 100%;
		height: 73vh;
		max-height: 73vh;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		h1 {
			font-size: 3rem;
		}
		.item {
            width: 250px;
          }
	}
}

@media (max-width: 576px) {
	#shop-section-1 {
		width: 100%;
		height: 55vh;
		max-height: 73vh;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		h1 {
			font-size: 2.3rem;
			text-transform: uppercase;
			font-weight: 400;
			text-shadow: 0px 3.88158px 3.88158px rgba(0, 0, 0, 0.25), 0px 3.88158px 3.88158px rgba(0, 0, 0, 0.25);
		}
	}
	.main-colors {
		.colors {
			* {
				border-radius: 50%;
				padding: 0.6rem !important;
			}
		}
	}
	.description {
		p {
			color: $bg;
			font-size: 12px;
			font-family: $prata;
		}
	}
	#details
	    .details {
            #close-details {
                top: 0;
                right: 0;
            }
        }
	#category {
		.cat-list {
			height: 7vh;
			button {
				font-size: 14px;
				font-family: $prata;
				text-decoration: none;
				color: $black;
			}
		}
	}
	.item {
        width: 160px;
        max-height: 200px;
        height: 200px;
        img {
            max-height: 70px;
            height: 70px;
        }
        h6 {
            height: 34px;
        }
    }
    .alert {
        font-size: 12px;
    }
}

.bord {
	border: 1px solid $black;
}

.opaque {
	transition: 0.5 ease-in-out;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 1035;
	pointer-events: auto;
}