<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		{% block title %}
			<!-- title -->
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
</head>
<body>

<!-- navbar -->
<header class="fixed-top">
    <!-- main nav -->
	    <nav id="nav-bar" class="position-relative">
	        <div class="col-12 h-100">
	            <div class="row h-100">

	                <div class="col-1 text-center d-flex justify-content-center">
	                    <a id="toggle-nav" class="my-auto col-1">
	                    	<span id="nav_toggle">
				                <svg viewBox="0 0 348 247" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <line x1="33" y1="54" x2="331" y2="54" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                <line x1="33" y1="131.5" x2="271.069" y2="131.5" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                <line x1="33" y1="209" x2="203.051" y2="209" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                </svg>
				            </span>
	                    </a>
	                    <a class="my-auto col-1 d-none" id="toggle">
	                        <span id="nav_toggle">
				                <svg viewBox="0 0 348 247" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <line x1="33" y1="54" x2="331" y2="54" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                <line x1="33" y1="131.5" x2="271.069" y2="131.5" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                <line x1="33" y1="209" x2="203.051" y2="209" stroke="#ececec" stroke-width="34" stroke-linecap="round"/>
				                </svg>
				            </span>
	                    </a>
	                </div>

	                <div class="col-7 col-sm-8 text-left d-flex justify-content-start">
	                    <a href="{{ url_for('index') }}" class="my-auto logo">talking tees</a>
	                </div>

	                <div class="col-4 col-sm-3 row p-0 d-flex justify-content-center flex-row">
	                    {% if yum == True %}
	                    <div class="col-3 p-2 col-sm-4 justify-content-center d-none d-md-flex">
	                        <a href="{{ url_for('sign_in') }}" class="mini-links my-auto">
	                            {{ name }}
	                        </a>
	                    </div>
	                    {% elif yum == False %}
	                    <div class="col-3 p-2 col-sm-4 justify-content-center d-none d-md-flex">
	                        <a href="{{ url_for('sign_in') }}" class="mini-links fa fa-user my-auto"></a>
	                    </div>
	                    {% endif %}

	                    <div class="col-3 p-2 col-sm-3 justify-content-center d-flex d-md-none">
	                        <a href="{{ url_for('sign_in') }}" class="mini-links fa fa-user my-auto"></a>
	                    </div>

	                    <div class="col-3 mx-1 p-2 col-sm-3 d-flex justify-content-start text-left">
	                        <a href="{{ url_for('cart') }}" class="mini-links fa fa-shopping-cart my-auto"></a>
	                        <label class="my-auto" id="cart">{{ cart }}</label>
	                    </div>
	                    <div class="col-3 p-0 p-md-2 col-sm-3 d-flex justify-content-start pl-md-0">
	                    	<a class="my-auto col-md-1">
	                    		<i class="fa fa-search"></i>
	                    	</a>
	                    </div>
	                </div>

	            </div>
	        </div>

	        <!-- navigation -->
	        <div id="navigation" class="col-12 col-md-6 d-flex">

	            <div class="centered d-flex row w-100 p-0">
			                <span class="col-md-6 col-lg-4 mx-auto my-auto d-flex flex-column text-center">
				                <a href="/shop" id="shop">shop</a>
				                <a href="/contact" id="contact">contact</a>
				                <a href="/about" id="about">about</a>
			                	<a href="{{ url_for('custom') }}" id="home">customize</a>
			                </span>
	            </div>

	            <div class="nav-footer d-flex justify-content-center w-100 mb-5 pb-3">
			                <span class="col-7 col-lg-3 d-flex justify-content-between text-center">
			                    <a href="https://wa.me/message/YWN3VSAY6NUL01" target="_blank">
			                        <i class="fa fa-whatsapp"></i>
			                    </a>
			                    <a href="gmail" target="_blank">
			                        <i class="fa fa-google"></i>
			                    </a>
			                    <a href="https://instagram.com/p/CFTJSlvDB7U/?igshid=1cf2od1qr969s" target="_blank">
			                        <i class="fa fa-instagram"></i>
			                    </a>
			                </span>
	            </div>
	        </div>
	    </nav>
    <!-- navigation end -->
</header>
<!-- navbar end -->

<span id="top"></span>
<div class="w-100 col-12 space-div"></div>
<div class="opaque d-none"></div>

	<main>
		{% block main_body %}
			<!-- main -->
		{% endblock %}
	</main>
	<footer id="footer" class="mt-5 p-0 bg-light">
        <div class="w-100 mt-2 mx-auto">

            {% if carts == True %}
			    <div class="row footer px-5 py-md-5 py-3 mx-auto">
            {% elif carts == False %}
                <div class="row footer footereer px-5 py-md-5 py-3 mx-auto">
            {% endif %}
		        <div class="col-sm-8 text-sm-left text-center ml-lg+-5">
		            <a href="{{ url_for('index') }}" class="text-dark foot-a">the talking tees</a>
		        </div>
		        <div class="col-sm-2 justify-content-sm-end">
		            <div class="row justify-content-sm-around justify-content-center">
		                <a href="https://wa.me/message/YWN3VSAY6NULO1" target="_blank" class="foot-a mx-sm-1 mx-lg-2 mt-1 mt-sm-0 mx-2">
		                    <i class="fa fa-whatsapp"></i>
		                </a>
		                <a href="gmail" target="_blank" class="foot-a mx-sm-1 mx-lg-2 mt-1 mt-sm-0 mx-2">
		                    <i class="fa fa-google"></i>
		                </a>
		                <a href="https://instagram.com/thetalkingtees_?r=nametag" target="_blank" class="foot-a mx-sm-1 mx-lg-2 mt-1 mt-sm-0 mx-2">
		                    <i class="fa fa-instagram"></i>
		                </a>
		            </div>
		        </div>
		        <div class="col-sm-1 ml-sm-4">
		            <div class="text-center">
		                <a href="#top" class="text-dark">
		                    <i class="fa fa-chevron-up"></i>
		                </a>
		            </div>
		        </div>
		    </div>
		</div>
	</footer>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
    $("#big-delete, #sm-delete").on("click", function(elem) {
        var manm = $(this).val()
        $.post("/remove", {
				pid:manm
			}, function(data) {

				$(".alert").removeClass("d-none");
				$(".alert").html("product has been removed");
				setTimeout(function() {

					$(".alert").fadeOut("slow", function() {
						$(".alert").fadeOut("slow");
						location.reload();
					});

				}, 1200);

			});
    });

    $("#clear").on("click", function() {
    	var mnam = "clear cart"
        $.post("/clear", {
				claire:mnam
			}, function(data) {

				$(".alert").removeClass("d-none");
				$(".alert").html("products have been removed");
				setTimeout(function() {

					$(".alert").fadeOut("slow", function() {
						$(".alert").fadeOut("slow");
						location.reload();
					});

				}, 1200);

			});
    });

    $(".decrease").on("click", function(elem) {
        var $main = $(this).val()
        $(".quantity").each(function(i, obj) {
            var main = $(this).attr("id")
            if (main == $main) {
            	var mai = $(this).html()
            	if (mai > 1) {
					$.post("/subquantity", {
						minus:main
					}, function() {
						location.reload();
					})
				}
			}
        });
    });

    $(".increase").on("click", function(elem) {
        var $main = $(this).val()
        $(".quantity").each(function(i, obj) {
            var main = $(this).attr("id")
            if (main == $main) {
            	var mai = $(this).html()
            	if (mai >= 1) {
					$.post("/addquantity", {
						plus:main
					}, function() {
						location.reload();
					})
				}
            }
        });
    });

    $(".size-").on("change", function(elem) {
        var man = $(this).val()
        var mans = $(this).attr("name")
        $.post("/size", {
				size:man, prod:mans
			}, function(data) {});
    });

    $(".color-").on("change", function(elem) {
        var color = $(this).val()
        var colors = $(this).attr("name")
        $.post("/color", {
				color:color, prod:colors
			}, function(data) {});
    });

</script>
<!-- for index -->
<script>
	window.onscroll = function scrollNav() {
        var nav = document.getElementById("nav-bar");
        var top = window.scrollY;
        if (top >= 1) {
            nav.classList.add('pos');
        } else {
            nav.classList.remove('pos');
        }
    }
    $('#toggle-nav').click(function() {
	    var sidenav = document.getElementById("navigation");
	    sidenav.style.transform = "translateX(0%)";
	    $('#toggle').fadeIn('fast');
	    $('#toggle-nav').fadeOut('slow', function() {
	    	$("#toggle").removeClass("d-none");
	    });

	});

	$('#toggle').click(function() {
	    var sidenav = document.getElementById("navigation");
	    sidenav.style.transform = "translateX(-100%)";
	    
	    $("#toggle").addClass("d-none");
	    $('#toggle').fadeOut('fast', function() {
	    	$('#toggle-nav').fadeIn('slow');
	    });
	});
</script>
</body>
</html>