{% extends "layout.html" %} {% block title %} Checkout - The Talking Tees {% endblock %} {% block main_body %}
<main>
    <section class="section-cart-1 py-md-5 pb-1 d-flex" style="min-height: 30vh;">
        <h1 class="text-center mx-auto mt-auto mt-lg-0 my-lg-auto justify-content-center">Checkout</h1>
    </section>
    <section class="checkout-section-form col-12 d-table d-md-block m-md-0 m-auto row">
        <!-- form -->
        <form id="order" class="d-md-flex d-block">
            <!-- total of prod -->
            <div class="p-lg-4 p-0 w-100 mt-3 mt-md-0 mx-auto mx-md-0 d-table d-md-inline-block col-md-5 col-12">
                <div class="row col-12 mx-auto">
                    <div class="totals mx-auto text-center justify-content-center w-100 col-md-12 mt-3">
                        <p class="fa-2x text-md-left w-100">Order details</p>
                        <hr class="bg-dark w-100">
                        <div class="col-12 row mx-auto d-table total-list">
                            <!-- product list -->

                            {% for row in products %}
                            <div class="list p-md-1 p-0 my-auto d-flex justify-content-between">
                                <p class="my-md-auto my-0 text-md-left text-center" id="{{ row[0] }}">
                                    {{ row[1] }}
                                    <small class="font-weight-bold">&nbsp;(x{{ row[9] }})</small>
                                </p>
                                <p class="my-md-auto my-0 text-left"> ₦{{ row[2] }}
                                </p>
                            </div>
                            {% endfor %}

                            <hr class="m-0">
                            <!-- subtotals -->
                            <!-- subtotals -->
                            <!-- subtotals -->

                            <div class="list p-md-1 p-0 my-auto d-flex justify-content-between">
                                <p class="my-auto text-md-left font-weight-bold text-center">
                                    SUBTOTAL:
                                </p>
                                <p class="my-auto text-left font-weight-bold">
                                    ₦{{ subtotal }}
                                </p>
                            </div>
                            <hr class="m-0">

                            <!-- shipping -->
                            <!-- shipping -->
                            <!-- shipping -->

                            <div class="list p-md-1 p-0 my-auto d-flex justify-content-between">
                                <p class="my-auto text-md-left font-weight-bold text-center">
                                    SHIPPING:
                                </p>
                                <p class="my-auto text-left font-weight-bold" id="shipping">₦2000</p>
                            </div>
                            <hr class="m-0">

                            <div class="list p-1 my-auto d-flex justify-content-between">
                                <p class="my-auto text-md-left font-weight-bold text-center">
                                    TOTAL:
                                </p>
                                <p class="my-auto text-left font-weight-bold">
                                    ₦{{ total }}
                                </p>
                            </div>
                            <div class="col-12 container-fluid">
                                <button type="submit" class="total-list black w-100 text-center">Order Now</button>
                            </div>
                        </div>
                        <div class="p-3"></div>
                    </div>
                </div>
            </div>

            <div class="p-lg-4 p-0 w-100 mt-3 mt-md-0 bord mx-auto mx-md-auto col-md-5 col-12">
                <div class="col-10 mx-auto bord">
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </form>
    </section>
    <div class="p-5"></div>
</main>
{% endblock %} {% block scripts %}
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '88.44'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock %}