<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		{% block title %}
			<!-- title -->
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
</head>
<body>

<img class="img-b" src="../static/assets/free.jpg" alt="">

<!-- navbar -->
	<header class="fixed-top">
		<!-- main nav -->
			<nav id="nav-bar" class="position-relative pos">
				<div class="col-12 h-100">
					<div class="row h-100">

						<div class="col-1 text-center d-flex justify-content-center">
							<a id="toggle-nav" class="fa fa-bars my-auto mini-links"></a>
		                    <a class="my-auto mini-links d-none" id="toggle">
		                        <i class="fa fa-times"></i>
		                    </a>
						</div>

						<div class="col-7 col-sm-8 text-left d-flex justify-content-start">
							<a href="{{ url_for('index') }}" class="my-auto logo">talking tees</a>
						</div>

						<div class="col-4 col-sm-3 row p-0 d-flex justify-content-center flex-row">
							<div class="col-3 p-2 col-sm-4 justify-content-center d-none d-md-flex">
								<a href="{{ url_for('sign_in') }}" class="mini-links fa fa-user my-auto"></a>
							</div>

                            <div class="col-3 p-2 col-sm-4 justify-content-center d-flex d-md-none">
									<a href="{{ url_for('sign_in') }}" class="mini-links fa fa-user my-auto"></a>
								</div>

							<div class="col-3 p-2 col-sm-4 d-flex justify-content-start text-left">
								<a href="{{ url_for('cart') }}" class="mini-links fa fa-shopping-cart my-auto"></a>
								<label class="my-auto" id="cart">{{ cart }}</label>
							</div>
							<div class="col-1 p-2 col-sm-4 d-flex justify-content-center pl-3 pl-md-0">
							</div>
						</div>

					</div>
				</div>

			<!-- navigation -->
				<div id="navigation" class="col-12 col-md-6 position-relative">

		            <div class="centered d-flex row w-100 p-0">
		                <span class="col-md-6 col-lg-4 mx-auto my-auto d-flex flex-column text-center">
			                <a href="/shop"id="shop">shop</a>
			                <a href="/contact" id="contact">contact</a>
			                <a href="/about" id="about">about</a>
		                	<a href="{{ url_for('custom') }}" id="home">customize</a>
		                </span>
		            </div>

		            <div class="nav-footer d-flex justify-content-center w-100">
		                <span class="col-7 col-lg-3 d-flex justify-content-between text-center">
		                    <a href="https://wa.me/message/YWN3VSAY6NUL01" target="_blank">
		                        <i class="fa fa-whatsapp"></i>
		                    </a>
		                    <a href="gmail" target="_blank">
		                        <i class="fa fa-google"></i>
		                    </a>
		                    <a href="https://instagram.com/p/CFTJSlvDB7U/?igshid=1cf2od1qr969s" target="_blank">
		                        <i class="fa fa-instagram"></i>
		                    </a>
		                </span>
		            </div>
		        </div>
	        </nav>
		<!-- navigation end -->
	</header>
<!-- navbar end -->


    {% block main_body %}
        <!-- main -->
    {% endblock %}


<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<!-- for index -->
<script>
	window.onscroll = function scrollNav() {
        var nav = document.getElementById("nav-bar");
        var top = window.scrollY;
        if (top >= 1) {
            nav.classList.add('pos');
        } else {
            nav.classList.remove('pos');
        }
    }
    $('#toggle-nav').click(function() {
	    var sidenav = document.getElementById("navigation");
	    sidenav.style.transform = "translateX(0%)";
	    $('#toggle').fadeIn('fast');
	    $('#toggle-nav').fadeOut('slow', function() {
	    	$("#toggle").removeClass("d-none");
	    });

	});

	$('#toggle').click(function() {
	    var sidenav = document.getElementById("navigation");
	    sidenav.style.transform = "translateX(-100%)";
	    
	    $("#toggle").addClass("d-none");
	    $('#toggle').fadeOut('fast', function() {
	    	$('#toggle-nav').fadeIn('slow');
	    });
	});
</script>

<!-- for reset -->
<script>
	$(document).ready(function() {
	    $("#form1").submit(function(event) {
	    	event.preventDefault();
	    	const username = $("#re-username").val();
			const email = $("#re-email").val();
			const password = $("#re-pass").val();
			const password_confirm = $("#re-pass-2").val();

			$.ajax({

				url: "/reset", //url for post
				method: "post",
				data: {username : username, email : email, password : password, password_confirm : password_confirm},
				dataType: "text",
				success: function(data){
					if (data == "redirect") {
						window.location.replace("/login");
					} else {
						$("#response").removeClass("d-none");
						$("#response").html(data);
					}
				}
			});
	    });
     });
</script>


<!-- for sign up -->
<script>
	$(document).ready(function() {
	    $("#form-up").submit(function(event) {
	    	event.preventDefault();
	    	const username = $("#username").val();
			const email = $("#email").val();
			const phone = $("#phone").val();
			const password = $("#pass").val();
			const password_confirm = $("#pass2").val();

			$.ajax({

				url: "/sign-up", //url for post
				method: "post",
				data: {username : username, email : email, phone : phone, password : password, password_two : password_confirm},
				dataType: "text",
				success: function(data){
					if (data == "redirect") {
						window.location.replace("/login");
					} else {
						$("#response").removeClass("d-none");
						$("#response").html(data);
					}
				}
			});
	    });
     });
</script>

<!-- for login -->
<script>
	$(document).ready(function() {
	    $("#form-in").submit(function(event) {
	    	event.preventDefault();
	    	const username = $("#username").val();
        	const password = $("#pass").val();

			$.ajax({

				url: "/log", //url for post
				method: "post",
				data: {username : username, password : password},
				dataType: "text",
				success: function(data){
					if (data == "redirect") {
						window.location.replace("/");
					} else {
						$("#response").removeClass("d-none");
						$("#response").html(data);
					}
				}
			});
	    });
     });
</script>
</body>
</html>